.content.has-text-centered {
    padding: 10px; /* Adjust the padding value as needed */
    font-size: 1.3rem; /* Adjust the font size to make the text smaller */
    text-align: center;
  }
  
.hero{
   
    height: 500px;
    width: 100%;
}
.body{
    background-color: aliceblue;
    
}

/* styles.css */

  #elementEl::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  #elementEl{
    text-align: center;
    font-size: 3rem;;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .nav-wrapper{
    background-color: black;
  }
  .body{
    color: black;
   /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=fb84ff&c2=98ceff&gt=l&gd=dbb
*/
background: #FB84FF;
background: linear-gradient(0deg, #FB84FF, #98CEFF);
height:100%;
width:100%;

  }
  .text-center{
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    height: 500px;
   color: black
  }
  .cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
  }
  #cards{
    margin-right: 20px;;
    margin-right: 20px;;
  }
  body{
    height:100%;
    background-color: #1b263b;
    
  }