.content.has-text-centered {
    padding: 10px; /* Adjust the padding value as needed */
    font-size: 1.3rem; /* Adjust the font size to make the text smaller */
    text-align: center;
  }
  
.hero{
   
    height: 500px;
    width: 100%;
}
.body{
    background-color: aliceblue;
}

/* styles.css */

  #elementEl::after {
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }
  #elementEl{
    text-align: center;
    font-size: 3rem;;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .nav-wrapper{
    background-color: black;
  }
  body{
    color: white;
    
  }
  